<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Login TaskSphere</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body style="background-image: linear-gradient(135deg, #9064bd 0%, #0d0041 100%);">

    <section class="min-h-screen flex items-center justify-center">
        <div class="flex rounded-3xl bg-white shadow-xl/40 h-140 w-220">
            <div class="w-3/4">
                <img src="/views/images/login_image.webp" alt="" class="w-full h-full rounded-tl-3xl rounded-bl-3xl rounded-tr-3xl">
            </div>
            <div class="w-2/3">
                <!-- From -->
                <div class="form-container">
                    <div class="logo-container">
                        <h2 class="font-bold text-2xl">Login</h2>
                    </div>
                    <form id="login-form" class="form mt-5">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Enter your email" required>
                            <br>
                            <label for="password">Password</label>
                            <input type="password" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                            <br>
                        <button class="form-submit-btn " type="submit">Log in</button>
                    </form>
                    
                    <p class="signup-link mt-5">
                        Don't have an account?
                        <a href="/register" class="signup-link link"> Register now</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <script src="/public/js/login.js"></script>
</body>

</html>